/* Default from the main page*/

table, th, td {
    border: 1px solid white;
  }

img.images {
    display: inline;
    max-height: 25px;
}

table {
    width: 80%; 
    background-color: #2B2E38; 
    color: white; 
    font-family: Trebuchet MS;
    margin: 20px 50px;
    margin-left: auto;
    margin-right: auto;
  }

th {
    text-align: center;
    font-size: 18px;
    padding: 5px 20px;
}

.objective{
    text-align: left; 
    word-wrap: normal; 
    white-space: -webkit-pre-wrap;   
    word-break: break-word; 
    white-space: normal; 
    -webkit-hyphens: auto; 
    -moz-hyphens: auto; -ms-hyphens: auto; hyphens: auto;
}

.points{
    color:gold;
    text-align: center;
}

.status{
    text-align: center;
}

.prizes{
    text-align: center;
}

.organizer{
    text-align: center;
}

tbody {
    overflow-wrap: normal;
}

td {
    white-space:pre;
    padding: 5px 10px;
  }

tr:hover {
    background-color: #525972;
}