/* Global Settings */
main,footer { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
a:hover {
    color: blue;
}

/* Main Container */

* {
 box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}
html,
body {
 height: 100%;
 position: relative;
}
main {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; /* height of your footer */
}
footer {
 position: absolute;
 bottom: 0;
 width: 100%;
}

/* Nav */
nav {
    font-family: 'Trebuchet MS';
}

/* Title */
h1,h2 {
    text-align: center;
    font-family: 'Trebuchet MS';
}
#title {
    padding: 10px 50px;
}

/* Body*/
#body {
    padding: 10px 0px 25px 0px;
}

/* Section Head */
.icon {
    display: inline;
    max-height: 40px;
}
.section-head {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #9966ff;
    white-space: nowrap;
    display: inline;
    font-size: 24px;
}
caption {
    font-size: 10px;
}

/* Footer */
footer{
    background-color: rgba(0,0,0,0.9);
    color: #9B9D9E;
    padding: 10px 50px;
    text-align: center;
}
#readnext {
    text-align: center;
    padding: 25px;
    margin: 5px;
}
#credits {
    font-size: 11px;
 }