/* Global Settings */
main,footer { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
a:hover {
    color: blue;
}

/* Nav */
nav {
    font-family: 'Trebuchet MS';
}

/* Title */
h1,h2 {
    text-align: center;
}
#title {
    padding: 10px 50px;
}

/* Body*/
#body {
    padding: 10px 0px 75px 0px;
}

/* Section Head */
.icon {
    display: inline;
    max-height: 40px;
}
.section-head {
    color: #9966ff;
    white-space: nowrap;
    display: inline;
    font-size: 24px;
}

/* Footer */
footer{
    background-color: rgba(0,0,0,0.9);
    color: #9B9D9E;
    padding: 10px 50px;
    text-align: center;
}
#readnext {
    text-align: center;
    padding: 25px;
    margin: 5px;
}
#credits {
    font-size: 11px;
 }